# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Library/ArtifactDB
Library/Bee/1900b0aE.dag.json
Library/Bee/fullprofile.json
Library/PackageManager/ProjectCache
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Temp/FSTimeGet-351b228490add7e4eaebb19d18e9f50d
Temp/FSTimeGet-632a04ff9339e7b4c9ac19182b3660c7
Temp/FSTimeGet-d0fefbaccb0c95b42a18e2b32d8dde3a
Temp/UnityLockfile
Library/Artifacts/11/11acb4e677a2f9cfb5af7a9ffdee7b33
Library/Artifacts/18/18aa34ce47303df54d21d43bad70da14
Library/Artifacts/22/224be68513c11dc807b385501e178391
Library/Artifacts/24/2410421c7b2e9600fae5367191edf3c9
Library/Artifacts/28/287881cccc9a960f3f0e9b82e7bd4084
Library/Artifacts/38/38c6ab7129cbfbb7b7c7893498e09074
Library/Artifacts/48/4820aaee59b00eca846afbf82fed48bc
Library/Artifacts/49/4998d667f4cdfc14492840ca62285860
Library/Artifacts/5e/5e746d27d79a3ee82371a0149f3ed9ce
Library/Artifacts/64/6486761abaf2b67439be65ac62496a1d
Library/Artifacts/6d/6d7415571843b3ef1805f14197a71588
Library/Artifacts/8e/8eee45044828aeaa99517494e2a72864
Library/Artifacts/97/978b6bd30ead6f334f80cca23f6601fc
Library/Artifacts/9a/9af0cab705199fce89bcc77e5d7c0945
Library/Artifacts/9b/9bacb3646d7d189fdf211a0caad2cee3
Library/Artifacts/a3/a37c09eee569810593c5f34cbc1c3714
Library/Artifacts/a5/a5b682694f3df267bb5101cade3f284b
Library/Artifacts/c8/c889c6c8ee2d1ab4150d1032b8c47d7d
Library/Artifacts/d4/d4e29c02bf4936dbca7950535872fdd0
Library/Artifacts/d8/d88a4fd76e29dc4a15703eb2d61a28da
Library/Artifacts/dd/ddf05e1e26f673585ddecdf6b162362b
Library/Artifacts/f7/f719e4c71f5a3d2468555007f2d07b19
Library/Artifacts/fa/fa569f20200ca66d9b300ab066b9f714
Library/Artifacts/fd/fd07770c14b50d39383c05428929da11
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp-Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp-Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aE.dag/post-processed/Assembly-CSharp-Editor.dll
Library/Bee/artifacts/1900b0aE.dag/post-processed/Assembly-CSharp-Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/post-processed/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/post-processed/Assembly-CSharp.pdb
Library/Bee/backend1.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/BurstCache/JIT/Hashes/a110ffe6b760e4b56cb86ae44bc7857d.bhc
Library/BurstCache/JIT/Hashes/f890d1fdde3a07f1cb7ddaf50227f1a0.bhc
Library/EditorInstance.json
Library/ilpp.pid
Library/SceneVisibilityState.asset
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker10-prev.log
Logs/AssetImportWorker11-prev.log
Logs/AssetImportWorker12-prev.log
Logs/AssetImportWorker13-prev.log
Logs/AssetImportWorker14-prev.log
Logs/AssetImportWorker15-prev.log
Logs/AssetImportWorker16-prev.log
Logs/AssetImportWorker17-prev.log
Logs/AssetImportWorker18-prev.log
Logs/AssetImportWorker19-prev.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker2.log
Logs/AssetImportWorker20-prev.log
Logs/AssetImportWorker21-prev.log
Logs/AssetImportWorker22-prev.log
Logs/AssetImportWorker23-prev.log
Logs/AssetImportWorker24-prev.log
Logs/AssetImportWorker3-prev.log
Logs/AssetImportWorker3.log
Logs/AssetImportWorker4-prev.log
Logs/AssetImportWorker4.log
Logs/AssetImportWorker5-prev.log
Logs/AssetImportWorker5.log
Logs/AssetImportWorker6-prev.log
Logs/AssetImportWorker6.log
Logs/AssetImportWorker7-prev.log
Logs/AssetImportWorker7.log
Logs/AssetImportWorker8-prev.log
Logs/AssetImportWorker8.log
Logs/AssetImportWorker9-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.backup
Temp/FSTimeGet-3ab6f67567a615b4aa5d7e773f84065a
Temp/FSTimeGet-63e5a7185b4943a418da402e1018c9d7
Temp/FSTimeGet-a61e969d13172644781c78921f358ddc
Temp/FSTimeGet-ece600f899bd1b94da41f3050ff57ebb
Temp/workerlic
